/* src/styles.css */
:root {
    --primary-color: #473dde;
    --background-color: #f9fafb;
    --text-color: #111827;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
}

.task-manager {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.header {
    font-weight: bold;
    background: var(--background-color);
}

.task-form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.task-form input {
    flex: 1;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background: var(--background-color);
}

.task-table th,
.task-table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.task-table th {
    background: var(--background-color);
    font-weight: bold;
}

.btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.95rem;
    font-weight: 600;
    background:  var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: #3125e3;
}

.btn-delete {
    background: #ef4444;
}

.btn-delete:hover {
    background: #dc2626;
}

